.sideBar{
    width: 25%;
    padding:3%;
    background-color: rgba(250, 235, 215, 0.26);
    box-sizing: border-box;
    border-right: 1px solid #ccc;
}

.filter{
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.filterHead{
    font-weight: 800;
}